@model IEnumerable<EcommerceWeb.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h3>Tus productos</h3>

<p>
    <a asp-action="Create">Cargar un nuevo producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <!--
            <th>
                Html.DisplayNameFor(model => model.Fecha)
             </th>
                 ****FALTA EL ARROBA ADELANTE DE HTML, no lo pongo porque no lo detecta como comentario sino****
            -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <p>$@Html.DisplayFor(modelItem => item.Precio)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <!--
            <th>
                Html.DisplayNameFor(model => model.Fecha)
            </th>
                ****FALTA EL ARROBA ADELANTE DE HTML, no lo pongo porque no lo detecta como comentario sino****
            -->
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
